#project-brief {
    .th-section-title {
        line-height: 80px;
        margin-bottom: 26px;
    }
    .th-section-subtitle {
        font-size: 20px;
        font-weight: 400;
        color: #231F20;
    }
}