.th-booking-member-avatar {
  width: 141px;
  height: 141px;
  img {
    border-radius: 50%;
    width: 100%;
  }
}
.th-input-group {
  display: flex;
  align-items: center;

  label {
    flex: 5;
    font-size: 20px;
  }
  .choices {
    flex: 12;
    .choices__inner {
      border: none;
      background-color: transparent;
      &.inp-rm-padding {
        padding-left: 0;
      }
    }
  }
}
.th-input-group {
  border-bottom: 1px solid $gray;
  padding-left: 20px;
  &.rm-padding {
    padding-left: 0;
  }
}
