.choices{
    margin: 0!important;
    padding-bottom: 10px;
    padding-top: 10px;
}
.choices__list--single .choices__item {
    font-size: 18px;
    font-weight: 500;
}
.th-border-top{
    border-top: 1px solid $gray;
}