  <!--==============================
Product You May Also Like
==============================-->
<section id="th-product-may-like" class="may-also-like">
    <div class="container th-container">
      <div class="row justify-content-center">
        <div class="col-md-12 text-center mb-60">
          <h2 class="section-title">You May Also Like</h2>
          <div class="section-subtitle">
            Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3 col-sm-12">
              <div class="th-item-card">
                <div class="th-img-container">
                  <img src=" /img/product-detail/also like 1.png  
      " alt="Lorem Ipsum" />
                </div>
                <div class="th-item-card-content mt-15">
                  <div class="th-link mb-10">
                    <h6 class="th-link-text pr-5 th-title-20">Lorem Ipsum</h6>

                    <div class="th-link-icon">
                      <i class="fa-regular fa-arrow-right"></i>
                    </div>

                  </div>
                  <div class="th-description">
                    Lorem ipsum dolor sit amet consectetur
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-12">
              <div class="th-item-card">
                <div class="th-img-container">
                  <img src=" /img/product-detail/also like 2.png  
      " alt="Lorem Ipsum" />
                </div>
                <div class="th-item-card-content mt-15">
                  <div class="th-link mb-10">
                    <h6 class="th-link-text pr-5 th-title-20">Lorem Ipsum</h6>

                    <div class="th-link-icon">
                      <i class="fa-regular fa-arrow-right"></i>
                    </div>

                  </div>
                  <div class="th-description">
                    Lorem ipsum dolor sit amet consectetur
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-12">
              <div class="th-item-card">
                <div class="th-img-container">
                  <img src=" /img/product-detail/also like 3.png  
      " alt="Lorem Ipsum" />
                </div>
                <div class="th-item-card-content mt-15">
                  <div class="th-link mb-10">
                    <h6 class="th-link-text pr-5 th-title-20">Lorem Ipsum</h6>

                    <div class="th-link-icon">
                      <i class="fa-regular fa-arrow-right"></i>
                    </div>

                  </div>
                  <div class="th-description">
                    Lorem ipsum dolor sit amet consectetur
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-12">
              <div class="th-item-card">
                <div class="th-img-container">
                  <img src=" /img/product-detail/also like 1.png  
      " alt="Lorem Ipsum" />
                </div>
                <div class="th-item-card-content mt-15">
                  <div class="th-link mb-10">
                    <h6 class="th-link-text pr-5 th-title-20">Lorem Ipsum</h6>

                    <div class="th-link-icon">
                      <i class="fa-regular fa-arrow-right"></i>
                    </div>

                  </div>
                  <div class="th-description">
                    Lorem ipsum dolor sit amet consectetur
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
</section>

  <!--==============================
End Product You May Also Like
==============================-->