  <!--==============================
Product Features Story Masonry
==============================-->
<section id="feature-products" class="container th-container border-bottom">
  <div class="row featured-product">
    <div class="col-12">
      <div class="section-body th-masonry-col-2">
        <div class="th-masonry-grid th-column-gap-@@column-gap">

          <div class="th-masonry-grid-item grid-col-span-7 " style="transform: translateY(0 px);padding-top:0 px">
            <div class="th-item-img">
              <img src="/img/product-detail/Comfort Meets Support.png" alt="Product 1" />
            </div>
            <div class="th-product-info-wrapper">
              <div class="th-item-info">
                <h6 class="th-title-17">
                  <div class="th-link">
                    <h6 class="th-title-20 font-weight-700"> Where comfort meets support </h6>

                    <div class="th-link-icon">
                      <i class="fa-regular fa-arrow-right"></i>
                    </div>

                  </div>

                </h6>
                <p class="item-description">
                  Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
                </p>
                <div class="th-link pt-10">
                  <div class="th-link-text pr-5">

                    Read More
                  </div>
                  <div class="th-link-icon-btn">
                    <i class="fa-regular fa-arrow-up degree-60"></i>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="th-masonry-grid-item grid-col-span-6 " style="transform: translateY(0 px);padding-top:0 px">
            <div class="th-item-img">
              <img src="/img/categories/screens.png" alt="Product 1" />
            </div>
            <div class="th-product-info-wrapper">
              <div class="th-item-info">
                <h6 class="th-title-17">
                  <div class="th-link">
                    <h6 class="th-title-20 font-weight-700"> Sustainable from the start </h6>

                    <div class="th-link-icon">
                      <i class="fa-regular fa-arrow-right"></i>
                    </div>

                  </div>

                </h6>
                <p class="item-description">
                  Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
                </p>
                <div class="th-link pt-10">
                  <div class="th-link-text pr-5">

                    Read More
                  </div>
                  <div class="th-link-icon-btn">
                    <i class="fa-regular fa-arrow-up degree-60"></i>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!--======== End Product Features Story Masonry ========-->