<!--==============================
Product Configurator
==============================-->
<section id="th-product-configurator" class="th-product-configurator">
    <div class="container th-container">
      <div class="row">
        <div class="th-section-header @@sectionHeaderClass" style="display: block">
          <div class="th-section-header-wrapper text-center">
            <h2 class="  th-section-title "> Product Configurator </h2>
            <div class="th-section-subtitle" style="font-size: ">
              Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
            </div>
          </div>

        </div>


        <div class="section-body">
          <div class="row">
            <div class="col-md-6">
              <div class="threed-section">
                <p class="scan-instruction">Scan QR to view in your space</p>
                <div class="qr-code">
                  <img src="/img/product-detail/Product Configurator Chair.png" alt="Scan QR Code to View in Your Space">

                  <!-- 3D Symbol below the QR code -->
                  <div class="threed-container">
                    <img src="/img/product-detail/3d-logo.png" alt="">
                  </div>
                </div>


                <!-- Thumbnail Selection for 3D View -->
                <div class="thumbnail-selection">
                  <div class="thumbnail selected">
                    <img src="/img/product-detail/Product Configurator Chair.png" alt="Thumbnail 1">
                  </div>
                  <div class="thumbnail">
                    <img src="/img/product-detail/Product Configurator Chair View 2.png" alt="Thumbnail 2">
                  </div>
                </div>
                <div class="img-container">
                  <img src="/img/product-detail/love-logo.png" alt="">
                </div>
              </div>
            </div>

            <div class="th-product-model col-md-6">
              <div class="model-column">
                <div class="accordion th-product-accordion" id="productConfigAccordion">
                  <!-- Model Number Accordion Item -->
                  <div class="accordion-item th-accordion-item">
                    <h4 class="accordion-header th-accordion-header" id="modelNumberHeading">
                      <button class="accordion-button th-accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#modelNumberCollapse" aria-expanded="false" aria-controls="modelNumberCollapse">
                        <div class="th-config-label">Model Number <span class="th-config-value">4550</span>
                        </div>
                        <span class="th-config-icon">+</span>
                      </button>
                    </h4>
                    <div id="modelNumberCollapse" class="accordion-collapse th-accordion-collapse collapse" aria-labelledby="modelNumberHeading" data-bs-parent="#productConfigAccordion">
                      <div class="accordion-body th-accordion-body">
                        <div class="th-model-details">
                          <p>Model specifications and additional details can be displayed here.</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Colour Accordion Item -->
                  <div class="accordion-item th-accordion-item">
                    <h4 class="accordion-header th-accordion-header" id="colourHeading">
                      <button class="accordion-button th-accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#colourCollapse" aria-expanded="true" aria-controls="colourCollapse">
                        <div class="th-config-label">Colour <span class="th-config-value">black</span>
                        </div>
                        <span class="th-config-icon">−</span>
                      </button>
                    </h4>
                    <div id="colourCollapse" class="accordion-collapse th-accordion-collapse collapse show" aria-labelledby="colourHeading" data-bs-parent="#productConfigAccordion">
                      <div class="accordion-body th-accordion-body">
                        <div class="th-colors-selection">
                          <div class="th-color-option">
                            <div class="th-color-swatch th-red-lava"></div>
                            <div class="th-color-name">RED LAVA</div>
                          </div>
                          <div class="th-color-option active">
                            <div class="th-color-swatch th-black"></div>
                            <div class="th-color-name">BLACK</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- First Lorem Ipsum Accordion Item -->
                  <div class="accordion-item th-accordion-item">
                    <h4 class="accordion-header th-accordion-header" id="loremHeading1">
                      <button class="accordion-button th-accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#loremCollapse1" aria-expanded="false" aria-controls="loremCollapse1">
                        <div class="th-config-label">Lorem ipsum <span class="th-config-value">dolor sit, amet</span>
                        </div>
                        <span class="th-config-icon">+</span>
                      </button>
                    </h4>
                    <div id="loremCollapse1" class="accordion-collapse th-accordion-collapse collapse" aria-labelledby="loremHeading1" data-bs-parent="#productConfigAccordion">
                      <div class="accordion-body th-accordion-body">
                        <ul class="th-config-options">
                          <li>
                            <a href="service.html">Desks</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <!-- Second Lorem Ipsum Accordion Item -->
                  <div class="accordion-item th-accordion-item">
                    <h4 class="accordion-header th-accordion-header" id="loremHeading2">
                      <button class="accordion-button th-accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#loremCollapse2" aria-expanded="false" aria-controls="loremCollapse2">
                        <div class="th-config-label">Lorem ipsum <span class="th-config-value">dolor sit, amet</span>
                        </div>
                        <span class="th-config-icon">+</span>
                      </button>
                    </h4>
                    <div id="loremCollapse2" class="accordion-collapse th-accordion-collapse collapse" aria-labelledby="loremHeading2" data-bs-parent="#productConfigAccordion">
                      <div class="accordion-body th-accordion-body">
                        <ul class="th-config-options">
                          <li>
                            <a href="service.html">Tables</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="th-product-order-online">
                  <div class="th-link @@classPadding">
                    <div class="th-link-text pr-5">
                      Order Online

                    </div>
                    <div class="th-link-icon-btn">
                      <i class="fa-regular fa-arrow-up degree-60"></i>
                    </div>
                  </div>

                </div>

                <div class="file-formats">
                  <p>
                    <span>.Png</span>
                    <span>Jpg</span>
                    <span>Dwg</span>
                    <span>.3ds</span>
                    <span>.5kp</span>
                    <span>.Rfa_</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<!--==============================
Product Configurator End
==============================-->


 