  <!--==============================
Product Features Section
==============================-->
<section id="th-product-features" class="gr-bg8">
    <div class="container th-container">
      <div class="row">
        <div class="th-section-header">
          <div class="th-section-header-wrapper left flex-1">
            <h2 class="  th-section-title "> Features </h2>
            <div class="th-section-subtitle">
              Experience the ultimate blend of 
              <span class='font-weight-700'>comfort</span> and 
              <span class='font-weight-700'>functionality</span> 
              with Archi, where 
              <span class='font-weight-700'>cutting-edge design</span> 
              meets adjustable precision for every workspace need
            </div>
          </div>

          <div class="right">
            <div class="th-section-header-link">
              <span class="th-section-header-link-text Order OnlineClass">Order Online</span>
              <span class="th-section-header-link-btn">
                <i class="fa-regular fa-arrow-up degree-60"></i>
              </span>
            </div>
          </div>
        </div>

        <div class="section-body">
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <div class="th-item-card">
                <div class="th-img-container">
                  <img src="/img/product-detail/feature img 1.png" alt="Adjustable Ergonomics" />
                </div>
                <div class="th-item-card-content mt-15">
                  <div class="th-link mb-10">
                    <h6 class="th-link-text pr-5 th-title-20">Adjustable Ergonomics</h6>

                  </div>
                  <div class="th-description">
                    Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="th-item-card">
                <div class="th-img-container">
                  <img src="/img/product-detail/feature img 2.png" alt="Sleek and Modern Design" />
                </div>
                <div class="th-item-card-content mt-15">
                  <div class="th-link mb-10">
                    <h6 class="th-link-text pr-5 th-title-20">Sleek and Modern Design</h6>

                  </div>
                  <div class="th-description">
                    Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="th-item-card">
                <div class="th-img-container">
                  <img src="/img/product-detail/feature img 3.png " alt="High-Performance Mesh Upholstery" />
                </div>
                <div class="th-item-card-content mt-15">
                  <div class="th-link mb-10">
                    <h6 class="th-link-text pr-5 th-title-20">High-Performance Mesh Upholstery</h6>

                  </div>
                  <div class="th-description">
                    Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
</section>
<!--======== End Product Features Section ========-->