
  <!--==============================
Hero Area
==============================-->

<div class="th-hero-wrapper th-hero th-hero-transparent gr-bg4 th-breadcrumb-wrapper" id="hero" data-bg-src="/img/product-detail/hero.png ">
  <section class="container th-container">
    <div class="row">
      <div class="col-md-12">

        <div class="th-breadcrumb">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb font-white">

              <li class="breadcrumb-item  font-white">

                <a href="/" class="font-white">
                  Home
                </a>


              </li>
              <li class="breadcrumb-item  font-white">


                <span class="font-white" aria-current="page">
                  Our Categories
                </span>

              </li>
              <li class="breadcrumb-item   font-white">


                <span class=" font-white" aria-current="page">
                  Seating
                </span>

              </li>
              <li class="breadcrumb-item   font-white">


                <span class=" font-white" aria-current="page">
                  Task Seating
                </span>

              </li>
              <li class="breadcrumb-item  active font-white">


                <span class="active font-white" aria-current="page">
                  Archi
                </span>

              </li>

            </ol>
          </nav>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-xl-7">
        <div class="th-hero-container gr-bg4">
          <div class="th-hero-style">
            <h1 class="th-hero-title">
              ARCHI
            </h1>
            <span class="th-hero-subtitle">Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.</span>

            <div class="th-hero-wrapp">

              <div class="position-relative pb-3">
                <a href="contact.html" class="th-btn text-capitalize">
                  <span class="mr-5">
                    Order Online

                  </span>
                  <i class="fa-regular fa-arrow-up degree-60"></i>
                </a>

              </div>


              <div class="position-relative">
                <a href="contact.html" class="th-btn-outline text-capitalize">
                  <span class="mr-5">
                    Contact Sales

                  </span>
                  <i class="fa-regular fa-arrow-up degree-60"></i>
                </a>

              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-5">
        <div class="th-hero-img"></div>
      </div>
    </div>
  </section>
</div>

<!--======== End Hero Section ========-->